@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: "Urbanist" ,sans-serif;
  --breakpoint-3xl : 1920px;
  --color-primary:#80FF69;
}
@layer base{
  html{
    font-family: var(--font-display);
    scroll-behavior:smooth;
  }
  body{
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing:grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow-x:hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar-track{
    background: linear-gradient(180deg , #8DFF69 , #6FE047);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(180deg, #ABFF8D ,#5BC92E);
  }
}